VITE_FIREBASE_API_KEY="AIzaSyCp3fpmayUy_nOoDHYTSFmc_B3UeRjFtPU"
VITE_FIREBASE_AUTH_DOMAIN="vibecode-acad-17592.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="vibecode-acad-17592"
VITE_FIREBASE_STORAGE_BUCKET="vibecode-acad-17592.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="979991655620"
VITE_FIREBASE_APP_ID="1:979991655620:web:ed0f6f34903b85e2380591"
OPENROUTER_API_KEY="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"